@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model LeaveFormViewModel
@{
}

<h1>Leave Application Approval</h1>
<form action="Leave/Add" method="post">
    <div class="mb-3">
        <label for="employeeName" class="form-label">Name</label>
        <input type="text" readonly class="form-control" id="employeeName" asp-for=Name aria-describedby="employeeName">
    </div>
    <div class="mb-3">
        <label for="employeeEmail" class="form-label">Email</label>
        <input type="email" readonly class="form-control" id="employeeEmail" asp-for="Email">
    </div>
    <div class="mb-3">
        <label for="startDate" class="form-label">Start Date</label>
        <input type="date" readonly class="form-control" id="startDate" asp-for="StartDate">
    </div>
    <div class="mb-3">
        <label for="endDate" class="form-label">End Date</label>
        <input type="date" readonly class="form-control" id="enDate" asp-for="EndDate">
    </div>
    <div class="mb-3">
        <label for="reason" class="form-label">Reason</label>
        <textarea type="text" readonly class="form-control" id="reason" asp-for="Reason"></textarea>
    </div>
    <div class="mb-3">
        <label for="emailManager" class="form-label">Manager's Email</label>
        <input type="text" readonly class="form-control" id="emailManager" asp-for="EmailManager">
    </div>
</form>

<div class="mb-3 row">
    <button type="button" class="btn btn-primary" onclick="approve()">Approve</button>
    <button type="button" class="btn btn-warning" onclick="reject()">Reject</button>
</div>



<script>
    function approve() {
        window.location.href = '@Url.Action("Approve", "Leave")' + "/" + '@ViewData["Id"]';
    }

    function reject() {
        window.location.href = '@Url.Action("Reject", "Leave")' + "/" + '@ViewData["Id"]';
    }
</script>